<section class="grid">
    <section class="row">
        {{#each imgurls}}
            <div class="col-6 col-m-4 col-l-3">
                <img href="{{this}}" alt="imagen" />
            </div>
        {{/each}}
    </section>
</section>